



<h2>List of Companies</h2>
}


{% if companyname_list %}
<div class="row">
    {% for companyname in companyname_list %}
    <div class="col-xs-6 col-lg-4">
        <h4><a href="{% url 'company:companyname_detail' companyname.id %}">
        {{ companyname.companyname }}
        </a></h4>
        <h5>{{ companyname.review_set.count }} reviews</h5>
        <h5>{{ companyname.average_rating | floatformat }} average rating</h5>
    </div>
    {% endfor %}
</div>
{% else %}
    <p>No Companies are available.</p>
{% endif %}
