<div>
   <div class="input-group">
      <span class="input-group-addon">First Name</span>
      <input type="text" class="form-control"
         placeholder="Enter your first name here" />
   </div>
   <br />
   <div class="input-group">
      <span class="input-group-addon">Last Name</span>
      <input type="text" class="form-control"
         placeholder="Enter your last name here" />
   </div>
   <br />
   <div class="input-group">
      <span class="input-group-addon">Email Address</span>
      <input type="text" class="form-control"
         placeholder="Valid email format is example@domain.com" />
   </div>
   <br />
